.idea/
.DS_Store/
node_modules/
.tmp/
public/dist/
!public/dist/.gitkeep
cert.pem
key.pem
*.js
.yarn

# Database stuff
*.db
*.db-journal
#prisma/migrations/
*.sqlite

#.env files
*.env*

# Wavebreaker-specific
wavebreaker_radio_entries.json
wavebreaker_config.json

# Ignore Quest3D channel groups
*.cgr