.idea/
.DS_Store/
node_modules/
.tmp/
public/dist/
!public/dist/.gitkeep
.env
cert.pem
key.pem
*.js

# Database stuff
*.db
*.db-journal
prisma/migrations/
*.sqlite

# Wavebreaker-specific
wavebreaker_radio_entries.json
wavebreaker_config.json

# Ignore Quest3D channel groups
*.cgr