{
    "logger": true,
    "port": 443,
    "host": "0.0.0.0",
    "useHttps": false,
    "https": {
        "key": "./key.pem",
        "cert": "./cert.pem",
        "passphrase": "your_passphrase_for_dev_cert"
    },
    "steam": {
        "apiKey": "steam_api_key_here",
        "realm": "http://wavebreakerdev.local",
        "returnUrl": "http://wavebreakerdev.local/login/steamreturn"
    },
    "environment": "development"
    "token_secret": "yuruyaka_ni_kuzure_kowareteku"
}