{
    "logger": true,
    "port": 443,
    "host": "0.0.0.0",
    "useHttps": false,
    "https": {
        "key": "./key.pem",
        "cert": "./cert.pem",
        "passphrase": "your_passphrase_for_dev_cert"
    },
    "steam": {
        "apiKey": "steam_api_key_here",
        "realm": "http://localhost:5000",
        "returnUrl": "http://localhost:5000/auth/steam/authenticate"
    },
    "environment": "development"
}